extends layout

block content
 
    .row
        .col-6
            h1.header Cines Muralla 
                p.texto experimenta el cine en su máxima expresión 
        .contenedor#contenedor
            .col-6
                //button.boton.login LOGIN